/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */
body{
    font-family: "Anybody", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
p, h1{
    margin-bottom: 36px;
}
h2{
    margin-bottom: 10px;
}
.list{
    margin-top: 36px;
}


.box1{
    padding: 20px;
    margin: 20px;
    border: 10px lightgreen solid;
    outline: 2px solid blue;
    outline-offset: 10px;
    width: 50%;
}
.content-box{
   box-sizing: content-box; 
}
.border-box{
    box-sizing: border-box;
}
.colums{
    column-count: 4;
}
.container{
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    gap:5px;
}
.box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    display: grid;
    
}
/* .box:first-child{
    display: grid;
    align-content: center;
    justify-content: center;
}*/
.component_dom >> p{
    couleur: rouge;
}