@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.raleway-body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav {
  background-color: #3a3d46;
  min-height: 65px;
  width: 100vw;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.cont-center {
  /*Ajoute des marge de 10% de chaque cote*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 1.8rem;
}
.list ul {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.list ul .button {
  background-color: #007dfc;
  border-radius: 8px;
}
.list ul li {
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}
main {
  background-color: #232323;
  width: 100vw;
  height: 630px;
}
.container-main {
  width: 80%;
  color: white;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.element1 {
  width: 590px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.element2 {
  width: 590px;
  height: 590px;
}
.element1 h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 65px;
  margin-bottom: 1.5rem;
}
.element1 h1 span {
  color: #ffb800;
}
.element1 hr {
  width: 407px;
  margin-bottom: 1.5rem;
}
.element1 h3 {
  font-weight: 800;
  font-size: 26px;
  color: #007dfc;
  margin-bottom: 1.5rem;
}
.element1 p {
  width: 400px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20.88px;
  margin-bottom: 1.5rem;
}
.element1 #button-k {
  background-color: #ffb800;
  color: #232323;
  width: 112px;
  padding-block: 8px;
  text-align: center;
  border-radius: 8px;
  overflow-wrap: break-word;
}
footer {
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
}
.area-container-grid {
  width: 80%;
  margin-top: 1.5rem;
}
.container-grid {
  margin-top: 4rem;
  max-width: 1600px;
  max-height: 745.33px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 20px;
}
.container-grid .el1 {
  grid-area: 1/1/3/2;
}
.container-grid .el2 {
  grid-area: 1/2/2/3;
}
.container-grid .el3 {
  grid-area: 2/2/3/3;
}
.container-grid .el4 {
  grid-area: 1/3/2/4;
}
.container-grid .el5 {
  grid-area: 2/3/3/4;
}
.area-container-grid hr {
  width: 145px;
  transform: translate(48px)
}
.area-container-grid h2 {
font-weight: 400;
font-size: 28px;
}

/* grid-area: grid-row-start/grid-column-start/grid-row-end/grid-column-end; */
