*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #D74949;
    height: 100vh;
    weight: 100vw;
}
.footer {
    background-color: #3A3A3A;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0; 
    padding: 0 20px; 
    z-index: 1;
}
.main{
    background-color: #F3F3F3;
    position: fixed;
    margin-inline: auto;
    min-width: 1110px;
    height: 93%;
    z-index: 1;
}
